RewriteEngine on

# Редирект URL страницы с папки в корень сайта
RewriteCond  %{DOCUMENT_ROOT}/content/$1 -f
RewriteRule ^(.*)$ content/$1 [L,QSA]

# Редирект URL страницы с папки страниц в корень сайта
RewriteCond  %{DOCUMENT_ROOT}/template/$1 -f
RewriteRule ^(.*)$ template/$1 [L,QSA]

# Удалить .php из URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# 301 redirect from www to non-www
RewriteCond %{HTTP_HOST} www.favrora.com
RewriteRule (.*) https://favrora.com/$1 [R=301,L]

# htaccess redirect http to https
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"

# Redirect to 404 page
ErrorDocument 404 https://favrora.com/404

# Redirect header and footer page to main page
Redirect /header /
Redirect /footer /
Redirect /product-email /

#  Блокировка переходов со сторонних ресурсов
# RewriteCond %{HTTP_REFERER} baddomain\.ru [NC]
# RewriteRule .* - [F]