/******************
*** About us
******************/

#about {
  display: flex;
  flex-wrap: wrap;
}

#about p {
  margin-top: 15px;
  line-height: 1.3;
}

.av-img {
  width: 80%;
  max-width: 400px;
  margin-top: 10px;
}

a {
  color: var(--brand-color);
}

a:hover {
  color: var(--dark-brand-color);
}

iframe {
  margin-top: 20px;
}