#cookie {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 320;
  background: url('/src/img/home/banner-bg.svg') #ffffff 0 -120px no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  padding: 10px 10px 20px;
  box-shadow: 0 0 7px #00000080;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

#cookie p {
  margin: 70px 0 20px;
  font-size: 16px;
  line-height: normal;
  color: #6A6972;
}

.cookie-img {
  width: 100px;
}

#cookie #cookieBtn {
  background: #0077FF;
  padding: 10px 30px;
  width: 150px;
  border: 0;
  cursor: pointer;
  border-radius: 30px;
  color: #ffffff;
  box-shadow: 0 0 7px #000000b8;
}
#cookie #cookieBtn:hover {
  transition: 400ms;
  background: #023f85;
}


@media (max-width: 767px) {
  #cookie {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 120px;
    padding: 5px 10px;
    background: #112134;
    border-radius: 0;
  }

  #cookie p {
    color: #ffffff;
    margin: 0;
  }

  #cookie #cookieBtn {
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: none;
  }

  .cookie-img {
    display: none;
  }
}